@import "constants/const-styles.scss";
@import "constants/media-queries.scss";

.location {
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $dark-gray;
    color: $primary;
    font-family: $lato;
    margin-top: 20px;
    padding: 10px 0;
  }

  &__cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 34.2%);
    grid-template-areas: "card card card";
    width: 100%;
    margin-top: 20px;

    @include media-desktop {
      grid-template-columns: repeat(auto-fit, 50%);
      grid-template-areas: "card card";
      align-items: center;
      justify-items: center;
      align-self: center;
      width: 95%;
    }

    @include media-table-large {
      justify-content: center;
      grid-template-columns: auto;
      grid-template-areas: "card";
      margin-top: 10px;
    }

    @include media-mobile-small {
      justify-content: center;
      grid-template-columns: auto;
      grid-template-areas: "card";
      margin-top: 10px;
    }
  }
}
