@import "constants/const-styles";
@import "constants/media-queries";

.character {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  background-color: $dark-gray;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    margin-top: 20px;
  }

  &__image {
    margin: 20px;
    border-radius: 10px;
  }

  &__status,
  &__origin-location,
  &__current-location,
  &__gender,
  &__type {
    font-family: $lato;
    margin: 10px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $lato;
    margin-top: 20px;
  }

  &__episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $lato;
    margin: 20px 10px;
  }

  &__episode {
    padding: 5px 0;
    font-family: $lato;
    font-size: 18px;
  }
}
