$black: #000000;
$button: #3f3dc9;
$search-primary: #7ba7ab;
$hover-link: #1ba8a8;
$card-primary: #1ba8a8;
$disable-btn: #7190b9;
$red: #ff0000;
$light-red: #ff7f7f;
$error: #ffcccc;
$success: #adebad;
$green: #2db92d;
$gray: #7a7a7a;
$lato: Lato;
$blue: #3f3dc9;
$light-green: #90ee90;
$light-gray: #808080;

$secondary: #00142f;
$primary: #ffffff;
$orange: #ff9800;
$dark-gray: #3c3e44;

$desktop-width-large: 1310px;
$desktop-width: 1024px;
$table-width-large: 768px;
$table-width-small: 600px;
$mobile-width-large: 500px;
$mobile-width-middle: 428px;
$mobile-width-small: 370px;
