@import "constants/const-styles.scss";
@import "constants/media-queries.scss";

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $dark-gray;
  color: $primary;
  font-family: $lato;
  border-radius: 10px;
  margin: 10px;
  width: 90%;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
    font-family: $lato;
    padding: 0 5px;
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
    font-family: $lato;
  }

  &__name {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $orange;
    }
  }

  &__img {
    width: 40%;
    border-radius: 10px 0 0 10px;
  }

  &__status-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-family: $lato;
  }

  &__location-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    font-family: $lato;
  }

  &__indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;

    &--alive {
      background-color: $green;
    }

    &--dead {
      background-color: $red;
    }

    &--unknown {
      background-color: $gray;
    }
  }

  &__location {
    text-align: start;
    font-size: 18px;
  }

  &__first-seen {
    margin-bottom: 10px;
    font-family: $lato;
    text-align: start;
  }
}
